<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>Bombster.io - Yes/No questions made easy</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome on Bombster.io. Create yes/no questions in few seconds thanks to our easy to use platform.">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="/css/mvpready-landing.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/bower_components/animate.css/animate.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/img/favicon.png">

</head>

<body class="">

<div id="wrapper">

    <header class="navbar" role="banner">

        <div class="container">

            <div class="navbar-header">
                <a href="/" class="navbar-brand navbar-brand-img">
                    <img src="/img/logo.png" alt="Bombster">
                </a>

                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- /.navbar-header -->

            <nav class="collapse navbar-collapse" role="navigation">

                <ul class="nav navbar-nav navbar-right mainnav-menu">

                    <li class="dropdown">
                        <a href="/trending">
                            <i class="fa fa-bar-chart"></i> Trending Now
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="/login">
                            <i class="fa fa-lock"></i> Login
                        </a>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- /.container -->

    </header>

    {{{ body }}}

    <footer class="copyright">
        <div class="container">

            <div class="row">

                <div class="col-sm-12">
                    <p>Copyright &copy; 2015 <a href="https://alexanrenguyen.fr">Alexandre Nguyen</a></p>
                </div>
                <!-- /.col -->

            </div>
            <!-- /.row -->

        </div>
    </footer>

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- App JS -->
<script src="/global/js/mvpready-core.js"></script>
<script src="/global/js/mvpready-helpers.js"></script>
<script src="/js/mvpready-landing.js"></script>


</body>
</html>