<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">

                @{{user.username}}

                <ul>
                    <li>Settings</li>
                    <li>Logout</li>
                </ul>

            </div>
            <div class="col-lg-8">

                <form action="/question/add" method="POST">
                    <input type="text" name="question_title" placeholder="Do you think bombster.io is a great website ?">
                    <input type="submit" class="btn">
                </form>

                {{#each questions}}
                    <div><a href="/q/{{this.question_slug}}">{{this.question_title}}</a></div>
                {{/each}}

            </div>
        </div>
    </div>

</section>