<input type="hidden" id="user_id" value="{{user._id}}">

<div class="content">

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <h2 class="">Your Notifications</h2>

                <br><br>

                <ul id="notifications-container" class="icons-list notifications-list">
                    {{#each allNotifications}}
                    <li>
                        {{#if_eq this.type 'question-first-vote'}}
                            <i class="icon-li fa fa-trophy text-danger"></i>
                        {{/if_eq}}
                        {{#if_eq this.type 'signup'}}
                            <i class="icon-li fa fa-star text-danger"></i>
                        {{/if_eq}}
                        {{dateAgo this.created_at}} - <a href="{{this.url}}">{{this.content}}</a>
                    </li>
                    {{/each}}
                </ul>


                <div id="notifications-loader-container">
                    <img src="/img/loader.gif" class="loader" id="notifications-loader">
                </div>

            </div> <!-- /.col -->

        </div> <!-- /.row -->

    </div> <!-- /.container -->

</div> <!-- .content -->
