<div class="masthead">

    <!-- starts carousel -->

    <div id="masthead-carousel" class="carousel slide carousel-fade masthead-carousel">
        <div class="carousel-inner">

            <div class="item"
                 style="background-color: #354b5e; background-image: url(/global/img/bg/black-lozenge.png);">

                <hr class="spacer-md hidden-xs">
                <hr class="spacer-sm visible-xs">

                <div class="container">

                    <div class="row">

                        <div class="col-md-6 masthead-text animated fadeInDownBig">
                            <h4 class="masthead-title">The easiest & fastest way to create yes-no questions</h4>

                            <p>
                                Join Bombster and start asking and voting. Keep an eye on your votes by being notified and have views and votes stats available everytime.
                            </p>

                            <br>

                            <div class="masthead-actions">

                                <a href="/signup" class="btn btn-primary btn-jumbo">
                                    Create an Account
                                </a>

                            </div>
                            <!-- /.masthead-actions -->

                        </div>
                        <!-- /.masthead-text -->

                        <hr class="spacer-sm visible-xs visible-sm">

                        <div class="col-md-6 masthead-img animated fadeInUpBig">
                            <img src="img/masthead/mobile.png" alt="slide2" class="img-responsive"/>
                        </div>
                        <!-- /.masthead-img -->

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /.item -->

            <div class="item active"
                 style="background-color: #B74444; background-image: url(../../global/img/bg/bright-squares.png);">

                <hr class="spacer-md hidden-xs">
                <hr class="spacer-sm visible-xs">

                <div class="container">

                    <div class="row">

                        <div class="col-md-6 masthead-text animated fadeInLeftBig">
                            <h4 class="masthead-title">Create a yes-no question in few seconds</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Nisi ut aliquip ex ea commodo consequat.
                            </p>

                            <br>

                            <div class="masthead-actions">
                                <a href="/login" class="btn btn-transparent btn-jumbo">
                                    Login
                                </a>
                            </div>
                            <!-- /.masthead-actions -->
                        </div>
                        <!-- /.masthead-text -->

                        <hr class="spacer-sm visible-xs visible-sm">

                        <div class="col-md-6 masthead-img animated fadeInRightBig">
                            <form action="/signup" method="POST" class="form masthead-form well">

                                <h3 class="text-center">Start asking on Bombster.io</h3>

                                <p class="text-center">We just need that you give a username and an email address. No more information will be asked.</p>

                                <br>

                                <div class="form-group">
                                    <!-- <label class="" for="full_name">Full Name</label> -->
                                    <input type="text" id="username" name="username" placeholder="Your Username" class="form-control">
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <!-- <label class="" for="email_address">Email Address</label> -->
                                    <input type="email" id="email" name="email" placeholder="Your Email" class="form-control">
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <!-- <label class="" for="full_name">Full Name</label> -->
                                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                                </div>
                                <!-- /.form-group -->

                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary btn-jumbo btn-block">Get Started
                                        Today!
                                    </button>
                                </div>
                                <!-- /.form-group -->

                            </form>

                            <hr class="spacer-md">
                            <hr class="spacer-xs">
                        </div>
                        <!-- /.masthead-img -->

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /.item -->

        </div>
        <!-- /.carousel-inner -->
        <!-- Carousel nav -->


        <div class="container">
            <div class="carousel-controls">
                <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

    </div>
    <!-- /.masthead-carousel -->

</div> <!-- /.masthead -->


<div class="content">

    <section id="section-features" class="home-section">

        <div class="container">

            <div class="heading-block heading-minimal heading-center">
                <h1>
                    The fastest way to create yes-no questions
                </h1>
            </div>
            <!-- /.heading-block -->


            <div class="feature-lg">

                <div class="row">

                    <div class="col-sm-6">
                        <hr class="spacer-sm">
                        <figure class="feature-figure"><img src="./img/features/product01.png" class="img-responsive"
                                                            alt=""></figure>
                    </div>
                    <!-- /.col -->

                    <div class="col-sm-6">
                        <div class="feature-content">
                            <h5>Ask great questions</h5>

                            <h3>Ask great questions and share them</h3>

                            <p>Asking a yes-no question is very easy on Bombster.io. Sign up to our website, create one question and share it to your friends on social networks or private circles.</p>
                            <ul class="icons-list">
                                <li>
                                    <i class="icon-li fa fa-check text-primary"></i>
                                    Votes are anonymous
                                </li>
                                <li>
                                    <i class="icon-li fa fa-check text-primary"></i>
                                    Votes and traffic stats available
                                </li>
                                <li>
                                    <i class="icon-li fa fa-check text-primary"></i>
                                    Be alerted by mail when it reaches a certain count of votes
                                </li>
                            </ul>
                            <a href="/signup" class="btn btn-primary">Post my first question now</a>
                        </div>
                        <!-- /.feature-content -->
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.feature-lg -->

        </div>
        <!-- /.container -->

    </section>

</div> <!-- /.content -->

