<section class="hero-slider centered-text-slider">
    <ul class="slides">
        <li class="overlay text-center">

            <div class="background-image-holder">
                <img alt="Slide Background" class="background-image" src="img/hero22.jpg">
            </div>

            <div class="container vertical-align">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="text-white">Create unique layouts in seconds with Machine</h1>
                        <p class="super-lead text-white">Machine steps in a bold new direction for HTML templates, offering you complete creative control.</p>
                        <a class="btn btn-filled" href="/signup">Ask now</a>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>

<section class="no-pad fullwidth color-features">
    <div class="col-md-4">
        <div class="color-feature">
            <div class="detail-line"></div>
            <h5 class="alt-font text-white">Our Expertise</h5>
            <i class="pe-7s-pen"></i>
            <h5 class="text-white">Branding + Strategy</h5>
            <p class="text-white">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="color-feature">
            <div class="detail-line"></div>
            <h5 class="alt-font text-white">Our Promise</h5>
            <i class="pe-7s-refresh"></i>
            <h5 class="text-white">No Challenge Too Great</h5>
            <p class="text-white">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="color-feature">
            <div class="detail-line"></div>
            <h5 class="alt-font text-white">Our Philosophy</h5>
            <i class="pe-7s-target"></i>
            <h5 class="text-white">Teamwork Is An Artform</h5>
            <p class="text-white">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
            </p>
        </div>
    </div>
</section>