<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-block">
                    <h5>Thank you</h5>
                    <h4>Your password has been reset</h4>
                </div>
            </div>
        </div>

    </div>
    <!--end of container-->
</section>