<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-block">
                    <h5>Recover your password</h5>
                    <h4>Give us your email and we will help you</h4>
                </div>
            </div>
        </div>
        <!--end of row-->

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="/password/recover" method="POST">

                    <div class="col-sm-12">
                        <input class="input-standard" type="email" name="email" placeholder="Email">
                        <input type="submit" class="btn" value="Send">
                    </div>

                    <div class="form-error" {{#if errors}}style="display:block"{{/if}}>
                        <span class="text-white">
                            {{#each errors}}
                                - {{this}}<br>
                            {{/each}}
                        </span>
                    </div>

                </form>
            </div>
        </div>
        <!--end of row-->

    </div>
    <!--end of container-->
</section>