<div class="masthead">

    <div class="container">

        <h1 class="masthead-subtitle">
            Forgot Password
        </h1>

    </div> <!-- /.container -->

</div> <!-- /.masthead -->



<div class="content">

    <div class="container">

        <hr class="spacer-sm">

        <div class="account-wrapper">

            <div class="account-body">

                {{#if errors}}
                    <div class="alert alert-danger" role="alert">
                        {{#each errors}}
                            {{this}}<br>
                        {{/each}}
                    </div>
                {{/if}}

                <h2>Password Reset</h2>

                <h5>Please provide a new password.</h5>

                <form class="form account-form" method="POST" action="/password/reset">

                    <input type="hidden" name="token" value="{{token}}">

                    <div class="form-group">
                        <label for="password" class="placeholder-hidden">Your new password</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="Your new password" tabindex="1">
                        <label for="passwordC" class="placeholder-hidden">Confirm your new password</label>
                        <input type="text" class="form-control" id="passwordC" name="passwordC" placeholder="Your new password again" tabindex="2">
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="2">
                            Reset Password &nbsp; <i class="fa fa-refresh"></i>
                        </button>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <a href="/login"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
                    </div> <!-- /.form-group -->
                </form>

            </div> <!-- /.account-body -->

        </div> <!-- /.account-wrapper -->

        <br><br><br>

    </div> <!-- /.container -->

</div> <!-- /.content -->


</div> <!-- /#wrapper -->