<div class="masthead">

    <div class="container">

        <h1 class="masthead-subtitle">
            Reset password
        </h1>

    </div> <!-- /.container -->

</div> <!-- /.masthead -->


<div class="content">

    <div class="container">

        <div class="text-center" style="padding-top:30px;padding-bottom:350px;">
            <h2>We just emailed you</h2>
            <h4>Click on the link we just sent to you to reset your password.</h4>
            <p><a href="/">Back to home</a></p>
        </div>

       </div>

    </div>

</div>