<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="text-block">
                    <h5>We just emailed you</h5>
                    <h4>Click on the link we just sent to you to reset your password.</h4>
                </div>
            </div>
        </div>

    </div>
    <!--end of container-->
</section>