<section>
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6">
                {{question.question_title}}
                <button id="yes">Yes</button>
                <button id="no">No</button>
            </div>

        </div>

        <input type="hidden" id="question_id" value="{{question._id}}">

    </div>
    <!--end of container-->
</section>