.dz-preview {
    display: none;
}

.img-thumbnail {
    max-height: 29px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.loader {
    max-height: 20px;
    margin-top: 5px;
}

.share {
    margin-top: 10px;
}

.fb-like {
    position: relative;
    bottom: 4px;
}

.question-img img {
    max-height: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#timeline-loader-container {
    text-align: center;
    margin-top: 20px;
}

#questions-loader-container {
    text-align: center;
    margin-top: 20px;
}

#notifications-loader-container {
    text-align: center;
    margin-top: 20px;
}

#timeline-loader {
    display: none;
}

#questions-loader {
    display: none;
}

#notifications-loader {
    display: none;
}