.dz-preview {
    display: none;
}

.img-thumbnail {
    max-height: 29px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.loader {
    max-height: 20px;
    margin-top: 5px;
}

.share {
    margin-top: 10px;
}

.fb-like {
    position: relative;
    bottom: 4px;
}